@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: #FFFFFF;
  --off-background: #D4D5D5;
  --primary: #861F41;
  --primary-varient1: #f0c1d1;
  --secondary-varient1: #f4c7a4;
  --secondary: #E5751F;
  --accent: #75787b;
  --text: #050315;
  --decoration: #D4D5D5;
}

.dark {
  --background: #010104;
  --off-background: #1e1e1e;
  --primary: #861F41;
  --primary-varient1: #f0c1d1;
  --secondary: #E5751F;
  --secondary-varient1: #f4c7a4;
  --accent: #75787b;
  --text: #ebe9fc;
  --decoration: #D4D5D5;
}
.mono {
  --background: #FFFFFF;
  --off-background: #D4D5D5;
  --primary: #711632;
  --primary-varient1: #861f41;
  --secondary-varient1: #b2848e;
  --secondary: #711632;
  --accent: #d0afb6;
  --text: #050315;
  --decoration: #D4D5D5;
}
.contrast {
  --background: #FFFFFF;
  --off-background: #D4D5D5;
  --primary: #5c0d23;
  --primary-varient1: #b2848e;
  --secondary-varient1: #005f4f;
  --secondary: #073b2c;
  --accent: #b2848e;
  --text: #050315;
  --decoration: #D4D5D5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #861F41;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f0c1d1;
}
